<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Foto de perfil -->
  <div class="perfil-container">
    <img src="../assets/perfil.png" alt="Foto de perfil" class="foto-perfil" />
    <h2 class="nombre-usuario">Matías Araos</h2>
    <p class="correo-usuario">matias&#64;gmail.com</p>
  </div>

  <!-- Información adicional -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-text>24 años</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Ubicación</ion-label>
        <ion-text>Antofagasta, Chile</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Objetivo</ion-label>
        <ion-text>Crear buenos hábitos diarios</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
