<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="rutinas.length; else noRutinas">
    <ion-card *ngFor="let r of rutinas" class="rutina-card">
      <ion-card-header>
        <ion-card-title>{{ r.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p [innerHTML]="r.description"></p>
        <ion-item lines="none">
          <ion-label>Músculos</ion-label>
          <ion-text>{{ getMuscleNames(r.muscles) }}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Categoría</ion-label>
          <ion-text>{{ getCategoryName(r.category) }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ng-template #noRutinas>
    <div class="ion-text-center ion-padding">
      <p>No hay rutinas para mostrar.</p>
    </div>
  </ng-template>
</ion-content>
