ion-content {
  --background: transparent;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4px;
  color: #3b3b3b;
}

p {
  font-size: 1rem;
  color: #4f4f4f;
  margin: 4px 0;
}

.text-center {
  text-align: center;
}

ion-card {
  margin-top: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(4px);
}

ion-card-title {
  font-size: 1.2rem;
  color: #5a4a42;
  text-align: center;
  margin-top: 8px;
}

ion-card-content {
  padding-bottom: 16px;
}

ion-progress-bar {
  margin-top: 8px;
  margin-bottom: 6px;
  height: 12px;
  --progress-background: #e0e0e0;
  --progress-bar-background: #6ab04c; // para tareas (success)
}

ion-progress-bar[color="tertiary"] {
  --progress-bar-background: #38ada9; // para hábitos
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.6s ease-out both;
  display: block;
  will-change: transform, opacity;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}
