ion-content {
  --background: #fdfcf7; // Fondo suave
}

ion-grid {
  padding: 8px;
}

ion-card {
  height: 300px; // Altura fija
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fffdf9;
  text-align: center;
  padding: 0;
}

ion-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

ion-card-content {
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

ion-card h3 {
  font-size: 1.1rem;
  margin: 8px 0;
  color: #333;
}

ion-button {
  margin-top: auto;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.9rem;
}

ion-button[color="success"] {
  --background: #6abf69;
  color: white;
}

ion-button[color="medium"] {
  --background: #e0e0e0;
  color: #555;
}

ion-fab-button {
  --background: #a2836e;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
